﻿
<!--<div class="row">
    <div data-ng-repeat="item in items2 ">
        <a href="#/{{ item.product_Category }}" ng-click="getCategoryId()" class="btn btn-danger waves-effect">{{item.product_Category}}</a>     
    </div>
    <div data-ng-repeat="item2 in CategoryItems ">
        <a class="btn btn-danger waves-effect">{{item2.SubName}}</a>
    </div>
</div>-->
<div class="row">
    <div class="card-panel">
        <h4>Категории</h4>

        <div data-ng-repeat="item in items2 ">
            <a ui-sref="category1({category:item.product_Category })" class="btn btn-danger waves-effect">{{item.product_Category}}</a>  
        </div>
        <br />
        <div data-ng-repeat="SubItem in CategoryItems ">
            <a ui-sref="category.subcategory({category: item2 ,subcategory: SubItem.SubName })" ng-click="getSubItems(SubItem)" class="btn waves-effect waves-dark red lighten-2">{{SubItem.SubName}}</a>
        </div>
        <!--<ul class="collapsible" data-collapsible="expandable">
            <li data-ng-repeat="item in items2">
                <div class="collapsible-header">{{item.product_Category}}</div>
                <div class="collapsible-body">
                    <ul ng-repeat-end data-ng-repeat="SubItem in CategoryItems ">
                        <li>
                            <a ui-sref="category.subcategory({category: item.product_Category ,subcategory: SubItem.SubName })" ng-click="getSubItems(SubItem)" class="btn waves-effect waves-dark red lighten-2">{{SubItem.SubName}}</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>-->
        <ul class="collapsible" data-collapsible="accordion">
            <li>
                <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
                <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
            </li>
        </ul>
    </div>
</div>
