﻿<div class="row">
    <div class="card-panel">
        <h5>Фильтр товаров</h5>
        <div class="input-field">
            <i class="mdi-action-search prefix"></i>
            <input id="название" type="text" ng-model="searchName" class="validate">
            <label for="название">Название</label>
        </div>
        <h6 class="text-left col s12">Цена</h6>
        <div class="row">
            <div class="col s6">
                <div class="input-field">
                    <input id="от" type="text" ng-model="search.Price" class="validate">
                    <label for="от">От</label>
                </div>
            </div>
            <div class="col s6">
                <div class="input-field">
                    <input id="до" type="text" ng-model="search.Name" class="validate">
                    <label for="до">До</label>
                </div>
            </div>
        </div>
        <a href="#/show" class="btn-floating btn-large waves-effect waves-light btn red lighten-2">
            <i class="mdi-content-send"></i>
        </a>
    </div>
</div>