﻿<footer class="page-footer">
    <div class="container">
        <div class="row">
            <div class="col s12 m3 text-left">
                <h5 class="white-text">Информация</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#about">О проекте</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#service">Купить оптом</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#buy">Где купить?</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m3 text-left">
                <h5 class="white-text">Категории</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Заморочки</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">3D-пазлы</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Металические головоломки</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Текстовые заморочки</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m3 text-left">
                <h5 class="white-text">Аккаунт</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Мой профиль</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Изменить данные</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Корзина</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Выйти</a>
                    </li>
                </ul>
            </div>
            <div class="col s12 m3 text-left">
                <h5 class="white-text">Разное</h5>
                <ul>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Карта сайта</a>
                    </li>
                    <li>
                        <a class="grey-text text-lighten-3" href="#!">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">© 2015 Магазин головоломок "PuzzleShop"</div>
    </div>
</footer>