﻿<div class="navbar-fixed">
    <!--<nav>
        <div class="nav-wrapper">
            <a href="#!" class="brand-logo center">PuzzleShop</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse">
                <i class="mdi-navigation-menu"></i>
            </a>
            <ul class="left hide-on-med-and-down">
                <li>
                    <a href="#table" class="waves-effect waves-light">Главная</a>
                </li>
                <li>
                    <a href="#about" class="waves-effect waves-light">О проекте</a>
                </li>
                <li>
                    <a href="#service" class="waves-effect waves-light">Купить оптом</a>
                </li>
                <li>
                    <a href="#buy" class="waves-effect waves-light">Где купить?</a>
                </li>
                <li>
                    <a href="#home" class="waves-effect waves-light">Развивалки</a>
                </li>
                <li>
                    <a class="waves-effect waves-light">Играть</a>
                </li>

            </ul>
            <div class="input-field right hide-on-med-and-down">
                <input id="search" type="search" required>
                <label for="search">
                    <i class="mdi-action-search"></i>
                </label>
                <i class="mdi-navigation-close"></i>
            </div>
            <div ui-view="cart" class="right hide-on-med-and-down"></div>
            
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#" class="waves-effect waves-light">Главная</a>
                </li>
                <li>
                    <a href="#service">Наш сервис</a>
                </li>
                <li>
                    <a href="#buy">Как купить?</a>
                </li>
                <li>
                    <a href="#about">Коротко о нас</a>
                </li>
                <li>
                    <a href="#home">Купить оптом</a>
                </li>

                <li>
                    <a href="#">Играть</a>
                </li>
            </ul>
        </div>
    </nav>-->
    <nav>
        <div class="nav-wrapper">
            <a href="#/" class="brand-logo flow-text"><i class="mdi-action-shopping-cart right"></i>Puzzleshop</a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">Menu</i></a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <a href="#/" class="waves-effect waves-light">Главная</a>
                </li>
                <li>
                    <a href="#about" class="waves-effect waves-light">О проекте</a>
                </li>
                <li>
                    <a href="#service" class="waves-effect waves-light">Купить оптом</a>
                </li>
                <li>
                    <a href="#buy" class="waves-effect waves-light">Где купить?</a>
                </li>
                <li>
                    <a href="#home" class="waves-effect waves-light">Развивалки</a>
                </li>
                <li>
                    <a class="waves-effect waves-light">Играть</a>
                </li>
                <li>
                    <div ui-view="cart" class="right hide-on-med-and-down"></div>
                </li>
            </ul>
            <div class="input-field right hide-on-med-and-down">
                <input id="search" type="search" required>
                <label for="search">
                    <i class="mdi-action-search"></i>
                </label>
                <i class="mdi-navigation-close"></i>
            </div>            
            <ul class="side-nav" id="mobile-demo">
                <li>
                    <a href="#table" class="waves-effect waves-light">Главная</a>
                </li>
                <li>
                    <a href="#about" class="waves-effect waves-light">О проекте</a>
                </li>
                <li>
                    <a href="#service" class="waves-effect waves-light">Купить оптом</a>
                </li>
                <li>
                    <a href="#buy" class="waves-effect waves-light">Где купить?</a>
                </li>
                <li>
                    <a href="#home" class="waves-effect waves-light">Развивалки</a>
                </li>
                <li>
                    <a class="waves-effect waves-light">Играть</a>
                </li>
                <li>
                    <div ui-view="cart" class="right hide-on-med-and-down"></div>
                </li>
            </ul>
        </div>
    </nav>
</div>