﻿<div class=" row">
    <div class="card-panel">
        <h5>Авторизация</h5>
        <div class="input-field">
            <i class="mdi-action-account-circle prefix"></i>
            <input id="логин" type="text" class="validate">
            <label for="логин">Логин</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">lock</i>
            <input id="пароль" type="text" class="validate">
            <label for="пароль">Пароль</label>
        </div>
        <a href="#login" class="btn-floating btn-large waves-effect waves-light btn red lighten-2">
            <i class="mdi-action-input"></i>
        </a>
        <div class="form-inline">
            <ul>
                <li>
                    <a href="#regModal" class="modal-trigger">Регистрация</a>
                    <div id="regModal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h5>Регистрация:</h5>
                            <div class="input-field">
                                <i class="mdi-action-account-circle prefix"></i>
                                <input id="логин" type="text" class="validate">
                                <label for="логин">Логин</label>
                            </div>
                            <div class="input-field">
                                <i class="mdi-content-send prefix"></i>
                                <input id="пароль" type="password" class="validate">
                                <label for="пароль">Пароль</label>
                            </div>
                            <div class="input-field">
                                <i class="mdi-content-send prefix"></i>
                                <input id="пароль2" type="password" class="validate">
                                <label for="пароль2">Повторите пароль</label>
                            </div>
                        </div>
                        <div class="modal-footer red lighten-2">
                            <a href="#accept" class="modal-action modal-close waves-effect waves-light btn-flat ">Отменить</a>
                            <a href="#cancel" class="modal-action modal-close waves-effect waves-light btn-flat ">Принять</a>
                        </div>
                    </div>
                </li>
                <li>
                    <a href="#failModal" class="modal-trigger">Забыли пароль?</a>
                    <div id="failModal" class="modal modal-fixed-footer">
                        <div class="modal-content">
                            <h5>Востановление пароля:</h5>
                            <p>На указанный E-mail будет отправлен пароль</p>
                            <div class="input-field">
                                <i class="mdi-content-mail prefix"></i>
                                <input id="логин" type="text" class="validate">
                                <label for="логин">E-mail:</label>
                            </div>
                        </div>
                        <div class="modal-footer red lighten-2">
                            <a href="#accept" class="modal-action modal-close waves-effect waves-light btn-flat ">Отменить</a>
                            <a href="#cancel" class="modal-action modal-close waves-effect waves-light btn-flat ">Отправить</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>